.titlepage h1 {
    font-size: 1.5em;
    margin-bottom: 3rem;
}

.titlepage h2 {
    font-size: 1.25em;
    margin-top: -2.5rem;
    margin-bottom: 3rem;
}

.titlepage .date {
    font-size: 16px;
}

p.ref-item {
    padding-left: 1em;
    text-indent: -1em;
}

.cite-item a {
    opacity: .5;
    text-decoration: none;
    border-bottom: 1px solid var(--color-default);
}

.cite-item {
    white-space: nowrap;
    font-size: .8em;
}

.katex {
    font-size: 1em;
}