body {
    color: var(--color-default);
    font-family: 'CMU Sans Serif', 'Source Han Sans CN', 'Microsoft Yahei', 'Segoe UI Emoji';
}

p {
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: .6em;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: .8em;
}

h1,
h2,
h3 {
    color: var(--color-accent);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: .5rem;
}

a {
    color: var(--color-default);
}

img {
    max-height: 350px;
    /* TODO bad code */
}

blockquote {
    color: #888;
    padding: 0 .5em;
    border-left: 2px solid #888;
    font-style: italic;
}

.remark-container {
    background: #525659;
}

.remark-slide-scaler {
    box-shadow: 0 0 15px #141619;
}

table {
    border-collapse: collapse;
    border-top: 2px solid var(--color-default);
    border-bottom: 2px solid var(--color-default);
    margin: 0 auto;
    margin-bottom: 1rem;
}

table thead {
    border-bottom: 1px solid var(--color-default);
}

table th,
table td {
    padding: 0 .5em .1em;
    vertical-align: middle;
}

table thead tr:first-child th,
table tbody tr:first-child td {
    padding-top: .1em;
}

table.layout {
    margin: 0 1rem 1rem;
}

table.layout,
table.layout thead {
    border: none!important;
}

table.layout th,
table.layout td {
    padding: .2em .5em;
    text-align: center;
}

table.layout thead tr:first-child th,
table.layout tbody tr:first-child td {
    padding-top: .2em;
}

table.layout th p,
table.layout td p {
    margin: 0;
}

.remark-slide-content h1 {
    font-size: 1.25em;
}

.remark-slide-content h2,
.remark-slide-content h3 {
    font-size: 1em;
}

.remark-slide-content>h1 {
    margin-bottom: .6rem;
}

pre {
    color: #657b83;
    background: #f0f0f0;
    border-radius: 3px;
    padding: .5rem;
}

.remark-slide-content pre code.hljs {
    padding: 0;
    color: #657b83;
    background: #f0f0f0;
}

code {
    color: #657b83;
    background: #f0f0f0;
}

pre>code,
.remark-code,
.remark-inline-code {
    font-family: 'CMU Typewriter Text';
    font-size: .9em;
}


/* List style */

ul {
    list-style: none;
}

ul>li:before {
    content: "";
    border-color: transparent var(--color-accent);
    border-style: solid;
    border-width: 0.2em 0 0.2em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

ul>li {
    margin-top: -0.2em;
}

p+ul {
    /* Because of custom list style */
    margin-top: -.5rem;
}

li p {
    margin-bottom: 0;
}

ol {
    list-style: none;
    counter-reset: li;
}

ol>li::before {
    content: counter(li) ".";
    color: var(--color-accent);
    display: inline-block;
    width: 1.3em;
    margin-left: -1.3em;
}

ol>li {
    counter-increment: li;
    line-height: 1.5;
    margin: .2rem 0;
}

p+ol {
    margin-top: -.2rem;
}

ol ul {
    margin-bottom: .2rem;
}

ul ul,
ul ol {
    margin-bottom: 0;
}

/* Bibliography */

.remark-slide-content>p.ref-item:not(:first-child) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 32px;
    text-indent: -31px;
    font-size: .8em;
}

.cite-item a {
    opacity: .5;
    text-decoration: none;
    border-bottom: 1px solid var(--color-default);
}

.cite-item {
    white-space: nowrap;
    font-size: .8em;
}

.ref-num-padding::before {
    content: '';
    display: inline-block;
    width: 8px;
}

/* Math color */

.katex {
    font-size: 1em;
    color: var(--color-math);
}

.katex .accent {
    color: var(--color-math);
}

/* Frame content margin */

.remark-slide-content {
    padding: 0.8em 1em;
}

.remark-slide-content>:not(:first-child) {
    margin-left: 1rem;
    margin-right: 1rem;
}

.remark-slide-content>:nth-last-child(2) {
    /* This rule assumes the last child node is <div class="remark-slide-number"></div> */
    margin-bottom: 0;
}

/* Make preview size = print size */

.remark-slide-scaler {
    width: 672px!important;
    height: 504px!important;
}


/* Page number */

.remark-slide-number {
    font-size: 0.5em;
}

.remark-slide-content>.remark-slide-number {
    margin: 0;
}

.no-number .remark-slide-number {
    display: none;
}


/* Print */

@page {
    size: 672px 504px;
    margin: 0;
}

@media print {
    .remark-slide-scaler {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        top: 0 !important;
        left: 0 !important;
    }
    .remark-slide-scaler {
        box-shadow: none;
    }
}